<div class="page-header">
    <h1>Flight Prioritization <small><i class="ace-icon fa fa-angle-double-right"></i> overview &amp; stats</small></h1>
</div>
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-success btn-xs" ng-if="node.lifters && node.lifters.length > 0" data-nodrag ng-click="toggle(this)">
            <span class="glyphicon"
                  ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
        </a>
        {{node.name}}
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <!--if node has parent remove functionality to add sub item-->
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.lifters" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.lifters" ui-tree-node ng-include="'sub_nodes_renderer.html'">
        </li>
    </ol>
</script>
<script type="text/ng-template" id="sub_nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
            <span class="glyphicon"
                  ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
        </a>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <div style="display: block;">Name</div>
                    <div>{{node.name}}</div>
                </div>
                <div class="col-sm-3">
                    <div style="display: block;">Weight Class</div>
                    <div>{{node.weightClass}}</div>
                </div>
                <div class="col-sm-3">
                    <div style="display: block;">1st Attempt</div>
                    <div>{{node.firstAttempt}}</div>
                </div>
                <div>
                    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Enter Lifter Information</h3>
    </div>
    <div class="modal-body">
        <form class="form"
              name="newLifterForm"
              novalidate>
            <div class="form-group">
                <label for="name">
                    Name
                </label>
                <textarea ng-model="lifter.name"  
                          id="name" 
                          name="name"
                          class="form-control"
                          placeholder="Default Text"></textarea>
            </div>
            <div class="form-group">
                <label for="weightClass">Weight Class</label>
                <select ng-model="lifter.weightClass"
                        class="form-control" 
                        id="weightClass"
                        name="weightClass">
                    <option>114</option>
                    <option>132</option>
                    <option>148</option>
                    <option>181</option>
                    <option>198</option>
                    <option>220</option>
                    <option>242</option>
                    <option>275</option>
                    <option>308</option>
                    <option>SHW</option>
                </select>
            </div>
            <div class="form-group">
                <label for="firstAttempt">1st Attempt</label>
                <input ng-model="lifter.firstAttempt"
                       id="firstAttempt"
                       name="firstAttempt"
                       type="number" 
                       min="0" 
                       step="1" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<div class="row">
    <div class="col-sm-12">
        <div ng-click="expandAll()" class="btn btn-sm btn-primary">Expand all</div>
        <div ng-click="collapseAll()" class="btn btn-sm btn-primary">Collapse all</div>
        <div class="btn btn-sm btn-success">Save Changes</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div ui-tree id="tree-root">
            <ol ui-tree-nodes ng-model="data">
                <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="info">
            {{info}}
        </div>
        <pre class="code">{{ data | json }}</pre>
    </div>
</div>