<div ui-tree-handle class="tree-node tree-node-content">
    <div class="row">
        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
            <span class="glyphicon"
                  ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
        </a>
        <div class="col-sm-2">
            <div class="sub-node-title">Name</div>
            <div class="sub-node-attribute">{{node.firstName}}</div>
        </div>
        <div class="col-sm-2">
            <div class="sub-node-title">Gender</div>
            <div class="sub-node-attribute">{{node.gender}}</div>
        </div>
        <div class="col-sm-2">
            <div class="sub-node-title">Weight Class</div>
            <div class="sub-node-attribute">{{node.weightClass}}</div>
        </div>
        <div class="col-sm-2">
            <div class="sub-node-title">1st Attempt</div>
            <div class="sub-node-attribute">{{node.firstAttempt}}</div>
        </div>
        <div class="col-sm-4">
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
</div>